@charset "UTF-8";

/* result
=========================================================== */

:root {
  --color-gry-01: #cbcbcb;
  --color-gry-02: #e0e0e0;
}
* {
  box-sizing: border-box;
}
body {
  width: min(700px, 100%);
  margin: 0 auto;
  padding: 3em 1em;
  line-height: 1.58;
  font-size: 16px;
}

dl {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--color-gry-01);
  border-right: 1px solid var(--color-gry-01);

  dt, dd {
    margin: 0;
    padding: 0.5em 1em;
    border-left: 1px solid var(--color-gry-01);
    border-bottom: 1px solid var(--color-gry-01);
  }
  dt {
    width: 15em;
    background: var(--color-gry-02);
  }
  dd {
    width: calc(100% - 15em);
  }
}

form {
  margin: 3em 0 1rem;
  text-align: right;
}

.table-result {
  width: 100%;

  th[data-sort="rank"],
  th[data-sort="votes"] {
    width: 6em;
  }
  th[data-sort="character"] {
    width: calc(100% - 12em);
  }
  th.sort {
    position: relative;
    cursor: pointer;

    &::after {
      content: "▲▼";
      position: absolute;
      top: 50%;
      right: 1rem;
      font-size: 0.75rem;
      transform: translateY(-50%);
    }

    &.desc:after {
      content: "▼";
    }
    &.asc:after {
      content: "▲";
    }
  }
}